<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
      <ion-slide>
        <div class="slide">
          <img src="assets/1.png" />
          <h1>Benvenuto</h1>
          <p>
            Sei pronto a entrare nel fantastico mondo della <b>formula uno</b>? scorri per saperne di più.
          </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img style="margin-bottom: 83px; margin-top: 120px;" src="assets/2.png" />
          <p class="slider-txt">
            Un viaggio che va dal Bahrain ad Abu Dhabi <b>venti</b> piloti, <b>dieci</b> squadre, <b>un solo vincitore.</b>
          </p>
        </div>
      </ion-slide>
    <ion-slide>
      <div class="slide">
        <img style="margin-bottom: 57px;" src="assets/3.png" />
        <p class="slider-txt">Cosa stai aspettando?</p>
        <ion-button (click)="sliderShow()" fill="clear">Continua<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
