<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <img src="assets/1.png" alt="">
        <ion-col size="12" class="ion-text-center">
          <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/results']" style="width: 150px;">Single race</ion-button>
          <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/standings']" style="width: 150px;">Driver standing</ion-button>
          <!-- <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/signin']" style="width: 150px;">Signin</ion-button>
          <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/login']" style="width: 150px;">Login</ion-button> -->
          <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/profile']" style="width: 150px;">Profile</ion-button>
          <ion-button shape="round" color="danger" fill="outline" [routerLink]="['/slider']" style="width: 150px;">Show tutorial</ion-button>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
