<ion-header>
  <ion-toolbar>
    <ion-title>standings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
    <div  class="spinner_custom">
      <ion-spinner color="danger" name="crescent"></ion-spinner>
    </div>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let result of standing">
            <app-explore-container *ngIf='!result'></app-explore-container>
            <ion-note slot="start" color="danger" style="font-size: xx-small;">{{ result?.position }}</ion-note>
            <ion-label>
              <p>{{ result?.Driver.givenName }} {{ result?.Driver.familyName }} </p>
              <p>{{ result?.Driver.code}} {{ result?.Constructors[0].name }} </p>
            </ion-label>
            <ion-note slot="end" color="danger" style="font-size: xx-small;">{{ result?.points }} points</ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>